node_modules/
package-lock.json
dist/
.env
.DS_Store
.vscode/
.idea/
*.log
coverage/
*.tmp
.cache/
*.swp
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js
*.tsbuildinfo
.vscode/
.history/
*.iml
out/
build/
logs/
*.bak
*.old

# MacOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*


# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
/generated/prisma
